* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #fff;
  color: #333;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
  background-color: #07569A;
  align-items: center;
}
.header-logo {
  padding-right: 50px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  padding-left: 50px;
}
.header-info {
  display: flex;
  align-items: center;
  border-left: 1px solid #fff;
}
.cart {
  width: 33px;
  height: 33px;
  padding-left: 20px;
  
  

}
.cart img {
  width: 32px;
  height: 32px;

}
.text {
  display: flex;
  flex-direction: column;
  color: #FFF;
  padding-left: 32px;
}
.cost {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.ammount {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.content {
  display: flex;
  flex: 1 0 auto;
  margin-left: 120px;

}
.main {
  display: flex;
  flex-direction:column;
  min-width: 900px;
  max-width: 1200px;
  border-bottom: 1px solid gray;

}
.main > ul {
  margin: 0;
  padding: 20px 0 40px 30px;
  list-style: none;
}

.main-nav {
  display: flex;
  flex-direction: row;

}
.main-nav-item {
  
}
.main-nav-item::after {
  content: '›';
  margin-left: 7px;
  margin-right: 7px;
}
.main-nav-item:last-child::after {
  content: '';
}
.main-nav + li a {
  color: #07569A;
}


.nav {
  width: 230px;
  display: flex;
  flex-direction: column;
  background-color: #E5E5E5;
  

}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-list {

}
.nav-list-item {
  padding: 20px;
}

.main-title {
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.cards-container {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  row-gap:40px;
  column-gap: 20px;

  
}
.card {

  /* flex-basis:300px;*/
  margin: 0px 20px 40px 30px;   
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  
}
.card-image {
  margin-bottom: 20px;
}
.card-image img {

}
.card-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.card-subinfo {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 45px;
  color: #A0A0A0;
}
.card-cost {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 20px;
  
}
.card-button {
  
  display: flex;
  
  height: 60px;
  width: 140px;
  color: #ffffff;
  background-color: #07569A;
  padding: 10px;
}
.card-button-text {

}
.card-button img {
  width: 32px;
  height: 32px;
}

.footer {
  background-color: #fff;
  display: flex;
  flex: 0 0 auto;
  margin-left: 120px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.foote-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
